.clickable-widget-shadow{
    -fx-background-color: WHITE;
    -fx-effect: dropshadow(three-pass-box, GRAY, 10.0,0, 0, 0);
}

.clickable-widget-shadow:hover{
    -fx-effect: dropshadow(three-pass-box, GRAY, 20.0,0, 0, 0);
    -fx-cursor: hand;
}